<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    {% block menu %}
        <ul>
            <li><a href="{{ path("homepage") }}">Accueil</a></li>
            <li><a href="{{ path("admin_article_index")}}">Admin</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path("fos_user_security_logout") }}">Déconnexion</a></li>
            {% endif %}
        </ul>
    {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
