{% extends 'base.html.twig' %}

{% block body %}
    {% for i in tous %}
 <h3>{{ i.thetitle }}</h3>
        <p>{{ i.thetext }}</p>
        <h4>{{ i.thedate|date("Y-m-d H:i:s") }} par {{ i.fosUser.username }}</h4>
        <hr/>
{% endfor %}
{% endblock %}
